###
check process swift-account-auditor with pidfile /var/run/swift/account-auditor.pid
	group openstack-swift
check process swift-account-reaper with pidfile /var/run/swift/account-reaper.pid
	group openstack-swift
check process swift-account-replicator with pidfile /var/run/swift/account-replicator.pid
	group openstack-swift
check process swift-account-server with pidfile /var/run/swift/account-server.pid
	group openstack-swift
check process swift-container-auditor with pidfile /var/run/swift/container-auditor.pid
	group openstack-swift
check process swift-container-reconciler with pidfile /var/run/swift/container-reconciler.pid
	group openstack-swift
check process swift-container-replicator with pidfile /var/run/swift/container-replicator.pid
	group openstack-swift
check process swift-container-server with pidfile /var/run/swift/container-server.pid
	group openstack-swift
check process swift-container-sharder with pidfile /var/run/swift/container-sharder.pid
	group openstack-swift
check process swift-container-sync with pidfile /var/run/swift/container-sync.pid
	group openstack-swift
check process swift-container-updater with pidfile /var/run/swift/container-updater.pid
	group openstack-swift
check process swift-object-auditor with pidfile /var/run/swift/object-auditor.pid
	group openstack-swift
{% if process_expirer is defined %}
check process swift-object-expirer with pidfile /var/run/swift/object-expirer.pid
	group openstack-swift
{% endif %}
check process swift-object-reconstructor with pidfile /var/run/swift/object-reconstructor.pid
	group openstack-swift
check process swift-object-replicator with pidfile /var/run/swift/object-replicator.pid
	group openstack-swift
check process swift-object-server with pidfile /var/run/swift/object-server.pid
	group openstack-swift
check process swift-object-updater with pidfile /var/run/swift/object-updater.pid
	group openstack-swift

check process ntpd with pidfile /var/run/ntpd.pid
	group openstack-swift
	start program = "/etc/init.d/ntp start"
	stop program = "/etc/init.d/ntp stop"
	if 3 restarts within 3 cycles then alert

check process memcached with pidfile /var/run/memcached/memcached.pid
    start program = "/etc/init.d/memcached start"
    stop program = "/etc/init.d/memcached stop"
    if failed host 127.0.0.1 port 11211 protocol MEMCACHE then restart

check process rsyncd with pidfile /var/run/rsyncd.pid
