server {{ntp1}} iburst
server {{ntp2}} iburst

# Use the local clock if internet failed
server 127.127.1.0
fudge  127.127.1.0 stratum 10
driftfile /var/lib/ntp/drift
broadcastdelay 0.008

restrict default notrap nomodify

