
*mangle
:PREROUTING ACCEPT [51:4064]
:INPUT ACCEPT [51:4064]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [33:3627]
:POSTROUTING ACCEPT [33:3627]
-A PREROUTING -m conntrack --ctstate INVALID -j DROP
-A PREROUTING -p tcp -m tcp ! --tcp-flags FIN,SYN,RST,ACK SYN -m conntrack --ctstate NEW -j DROP
-A PREROUTING -p tcp -m conntrack --ctstate NEW -m tcpmss ! --mss 536:65535 -j DROP
COMMIT



*filter
:INPUT DROP [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [3016:132704]
:DropLog - [0:0]
:INVALID - [0:0]

##Default
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -j ACCEPT

### INPUT For Private incoming
-A INPUT -i {{in_private}} -p vrrp -j ACCEPT -m comment --comment "Allow vrrp protocol"
-A INPUT -i {{in_private}} -p tcp -m conntrack --ctstate NEW -m tcp --dport 9022 -j ACCEPT -m comment --comment "healthcheck nginx"

-A INPUT -i {{in_private}} -p tcp -s {{internal_network}} -m conntrack --ctstate NEW -m tcp --dport 11211 -j ACCEPT
-A INPUT -i {{in_private}} -p tcp -s {{internal_network}} -m conntrack --ctstate NEW -m multiport --dports 8000:9000 -j ACCEPT


### Permit SSH list destinations
{% for ip in iptables_ssh %}
-A INPUT -i {{in_private}} -s {{ip}}/32 -p tcp -m tcp --dport 22 -j ACCEPT
{% endfor %}

### End INPUT For Private incoming

### INPUT For Other incoming
-A INPUT -p icmp -m icmp --icmp-type 8 -m limit --limit 1/sec -j ACCEPT
-A INPUT -p icmp -m icmp --icmp-type 0 -m limit --limit 1/sec -j ACCEPT
-A INPUT -p icmp -m icmp --icmp-type 11 -j ACCEPT
-A INPUT -p icmp -m icmp --icmp-type 3 -j ACCEPT
-A INPUT -j DropLog
### End INPUT For Other incoming

-A DropLog -p tcp -m limit --limit 30/min -j LOG --log-prefix "[netfilter] TCP_IN Blocked* "
-A DropLog -p udp -m limit --limit 30/min -j LOG --log-prefix "[netfilter] UDP_IN Blocked* "
-A DropLog -p icmp -m limit --limit 30/min -j LOG --log-prefix "[netfilter] ICMP_IN Blocked* "
-A DropLog -j DROP
-A INVALID -p tcp -m tcp --tcp-flags FIN,SYN,RST,PSH,ACK,URG FIN,SYN,RST,PSH,ACK,URG -j DROP
-A INVALID -p tcp -m tcp --tcp-flags FIN,SYN,RST,PSH,ACK,URG NONE -j DROP
-A INVALID -p tcp -m tcp --tcp-flags FIN,SYN FIN,SYN -j DROP
-A INVALID -p tcp -m tcp --tcp-flags SYN,RST SYN,RST -j DROP
-A INVALID -p tcp -m tcp --tcp-flags FIN,RST FIN,RST -j DROP
-A INVALID -p tcp -m tcp --tcp-flags FIN,ACK FIN -j DROP
-A INVALID -p tcp -m tcp --tcp-flags PSH,ACK PSH -j DROP
-A INVALID -p tcp -m tcp --tcp-flags ACK,URG URG -j DROP
-A INVALID -j RETURN
COMMIT
