
*filter
:INPUT DROP [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
{% for ip in iptables_ssh %}
-A INPUT -i {{in_private}} -s {{ip}}/32 -p tcp -m tcp --dport 22 -j ACCEPT
{% endfor %}
-A INPUT -i {{in_private}} -s {{internal_network}} -p tcp -m tcp --dport 6200 -j ACCEPT
-A INPUT -i {{in_private}} -s {{internal_network}} -p tcp -m tcp --dport 6201 -j ACCEPT
-A INPUT -i {{in_private}} -s {{internal_network}} -p tcp -m tcp --dport 6202 -j ACCEPT
-A INPUT -i {{in_private}} -s {{internal_network}} -p tcp -m tcp --dport 873 -j ACCEPT
-A INPUT -s {{check_mk}}/32 -p tcp  --match multiport --dports {{healthcheck_ports}} -j ACCEPT
-A INPUT -s {{check_mk}}/32 -p tcp -m tcp --dport 6556 -j ACCEPT
-A INPUT -m udp -p udp --dport 161 -j ACCEPT
COMMIT

