
*filter
:INPUT DROP [0:0]
:FORWARD ACCEPT [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -i lo -j ACCEPT
-A INPUT -p icmp -j ACCEPT
-A INPUT -m conntrack --ctstate RELATED,ESTABLISHED -j ACCEPT
{% for ip in iptables_ssh %}
-A INPUT -s {{ip}}/32 -p tcp -m tcp --dport 22 -j ACCEPT
{% endfor %}
-A INPUT -s {{check_mk}}/32 -p tcp -m tcp --dport 6556 -j ACCEPT
-A INPUT -m udp -p udp --dport 161 -j ACCEPT
-A INPUT -m udp -p udp --dport 123 -j ACCEPT
COMMIT

