[[inputs.exec]]
  name_override = "swift-container-scanner"
  ## Commands array
  commands = [
    "sudo /etc/telegraf/plugins/swift/swift-container-scanner-old"
  ]
  interval = "300s"

  ## Timeout for each command to complete.
  timeout = "15s"
  data_format = "json"
  json_query = ""

  ## Time key is the key containing the time that should be used to create the
  ## metric.
  #json_time_key = "last_update"
  #json_time_format = "unix_ms"

  tag_keys = [
    "account",
    "container",
    "created_at",
    "delete_timestamp",
    "document_id",
    "hash",
    "id",
    "put_timestamp",
    "reported_put_timestamp",
    "status_changed_at",
    "status",
    "X-History-Location",
    "X-Versions-Location",
    "X-Container-Read",
    "X-Container-Write"
  ]

  [inputs.exec.tags]
    region="{{ cluster }}"
    cls_service="{{ cls_service }}"
    input_name="swift-container-scanner"

[[outputs.socket_writer]]
  address = "tcp://{{logstash_billing_host_1}}:16011"
  keep_alive_period = "5m"
  data_format = "json"
  [outputs.socket_writer.tagpass]
    input_name=['swift-container-scanner']
