#
if $programname contains 'swift' then /var/log/swift/swift.log
if $programname == 'proxy-server' then /var/log/swift/proxy.log;TraditionalCustomFileFormat

{% if (cluster == 'HCM01') or (cluster == 'HAN01') %}
## Cấu hình syslog cũ dành cho các khu vực còn support bắn log về khu elastic elk.vinadata.vn

local0.*                         @@{{ logstash_billing_host_1 }}:{{ logstash_billing_host_port }};json-template
$ActionExecOnlyWhenPreviousIsSuspended on
local0.*                         @@{{ logstash_billing_host_2 }}:{{ logstash_billing_host_port }};json-template
$ActionExecOnlyWhenPreviousIsSuspended off
local0.*                         @@{{ logstash_host }}:{{ logstash_port }};json-template
{% endif %}
local0.* stop
