### Monit Config
set daemon 120            # check services at 2-minute intervals
set logfile /var/log/monit.log
set idfile /var/lib/monit/id
set statefile /var/lib/monit/state
set limits {
    programOutput:     512 B,    # check program's output truncate limit
    sendExpectBuffer:  256 B,    # limit for send/expect protocol test
    fileContentBuffer: 512 B,    # limit for file content test
    httpContentBuffer: 1 MB,     # limit for HTTP content test
    networkTimeout:    5 seconds # timeout for network I/O
}
set mailserver {{ smtp_server }}               # primary mailserver
set eventqueue
      basedir /var/lib/monit/events # set the base directory where events will be stored
      slots 100                     # optionally limit the queue size

set mail-format {
   from:    $HOST<monit-swift@thienln.com.vn>
   subject: monit {{ cluster }} alert --  $EVENT $SERVICE
   message: $EVENT Service $SERVICE
                 Date:        $DATE
                 Action:      $ACTION
                 Host:        $HOST
                 Description: $DESCRIPTION
}
set alert storage@thienln.com.vn                       # receive all alerts

set httpd port 2812 and
    use address 127.0.0.1  # only accept connection from localhost
    allow localhost
    #allow admin:SnStorage      # require user 'admin' with password 'monit'

include /etc/monit/conf.d/*
#include /etc/monit/conf-enabled/*