agentAddress  udp:161
view   systemonly  included   .1.3.6.1.2.1.1
view   systemonly  included   .1.3.6.1.2.1.25.1
#rocommunity public  default    -V systemonly
rouser   authOnlyUser
sysLocation    HCM
sysContact     lnthien97@gmail.com
sysServices    72
proc  mountd
proc  ntalkd    4
proc  sendmail 10 1
disk       /     10000
disk       /var  5%
includeAllDisks  10%
load   12 10 5
trapsink     localhost public
iquerySecName   internalUser
rouser          internalUser
extend    test1   /bin/echo  Hello, world!
extend-sh test2   echo Hello, world! ; echo Hi there ; exit 35
master          agentx
dlmod cmaX /usr/lib/libcmaX64.so
dlmod cmaX /usr/lib64/libcmaX64.so
rocommunity Mi725005d1 127.0.0.1
trapsink 127.0.0.1 Mi725005d1
trapcommunity Mi725005d1
rocommunity Mi725005d1 {{ check_mk }}
skipNFSInHostResources yes
dontLogTCPWrappersConnects 1
